# Created by venv; see https://docs.python.org/3/library/venv.html
# *

# データベースファイル (SQLiteなど)
*.db
*.sqlite3


# 仮想環境
.venv/
venv/

# Pythonキャッシュファイル
__pycache__/
*.pyc


# 学習・ライブラリ関連のディレクトリ
Numpy/
Pandas/

# 大容量・一時データ
DATA_WEB/

# 画像について
# 1. images ディレクトリ全体を無視
WEB_DATA/static/images/

# 2. ただし、特定の必須ファイルは例外として含める
# 例
# !WEB_DATA/static/images/site_logo.png