html{background-color: #F6F6F6 !important}
body{background-color: #F6F6F6 !important;}
html,body{height:100%;background-color: #F2F2F2}
html a{
	text-decoration:none;
	color: black;
}
html a:hover{
	color: black;
}

/*共通用シャドー*/
.shadow{
	box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
/* トップスタイル */
.header_con{
	background-color:#f7f7f7;
	height:40px;
	border-bottom:1px solid #0268cc
}

.header{
	width: 1200px;
	/*width:78%;*/
	height: 40px;
	margin:0 auto;
}

.header_text{
	border-bottom: solid 3px #a4c7eb;
}

.login_btn{
	display:flex;
	column-gap: 30px;
	margin: 5px 20px auto auto;
	height:27px;
}

.log_btn{
	background-color: #2c7fd1;
	border: #2c7fd1 solid 1px;
	color: #FFFFFF;
	font-weight: bold;
	margin: 10px auto;
	height: 40px;
	width: 200px;
	border-radius: 0.25rem;
}
.log_btn:hover{
	text-decoration: underline;
}

.change_btn{
	background-color: transparent;
	border: none;
	color: #39a93e;
	font-weight: bold;
	margin: 5px auto;
	height: 40px;
	width: 200px;
}

.change_btn:hover{
	text-decoration: underline;
}

.bftop__btn{
	background-color: transparent;
	border: none;
	color: #6b8196;
	font-weight: bold;
	margin: 0 auto 5px;
	height: 40px;
	width: 200px;
}

.bftop__btn:hover{
	text-decoration: underline;
}

.log form{
	text-align: center;
}

.welcome,.login_info,.user_link,form{
	line-height:29px;
}

.login_info{
	display:none;
}

.login_info em{color:#ff8800}

.login_btn a,.user_link a{
	color:#666;
	font-weight: bold;
}

.login_btn span,.user_link span{
	color:#cecece;
	margin:0 10px;
}

.login_btn_top{
	line-height:30px;
	background-color: #fff;
	font-size:16px;color:#0D6EFD;
	font-weight: 600;
	width:120px;height:30px;
	border:2px solid #dddddd;
	border-radius: 0.25rem;
}

.login_btn_top:hover{
	text-decoration: underline;
    transform: scale(1.1);
}


/* logo、搜索框、购物车样式 */

.search_bar{width:1200px;height:115px;margin:0 auto;}
.logo{height:55px; width:220px;margin:29px 0 0 17px;}

select.data{height:25px; width:300px;}

.search_con{width:616px;height:40px;border:1px solid #0D6EFD;margin:0;background:url(/static/images/icons.png) 10px -338px no-repeat;background-color: white}
.search_con .input_text{width:470px;height:34px;border:0px;margin:2px 0 0 36px;outline:none;font-size:16px;color:#737272;font-family:'Microsoft Yahei'}

.sort_bar a .input_btn{
	width:200px;height:38px;margin:0 auto; background-color:#0D6EFD;border:0px;font-size:14px;color:#fff;font-family:'Microsoft Yahei';outline:1px solid #0D6EFD;
}

.sort_bar a .input_btn:hover{
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
}



.guest_cart{
	width:200px;height:60px;margin-top: 30px;
}
.cart_name{
	background-color: white !important;
}


.guest_cart .cart_name{
	width:168px;height:38px;
	line-height:38px;
	border:2px solid #dddddd;
	display:block;background:url(/static/images/icons.png) 13px -300px no-repeat;
	font-size:14px;color:#0D6EFD;text-indent:56px;
}

form .cart_btn{
	line-height:30px;
	border:none;
	background-color: #fff;
	font-size:16px;color:#0D6EFD;text-indent:10px;
	font-weight: bold;
}

form .cart_btn:hover{
	text-decoration: underline;
}

.goods_count{
	z-index: 1;
}
.guest_cart .goods_count{
	width:38px;height:38px;text-align:center;line-height:40px;font-size:18px;
	font-weight:bold;color:#fff;background-color:#0D6EFD !important;
}


/* 菜单、幻灯片样式 */

.navbar_con{height:40px;border-bottom:2px solid #39a93e}
.navbar1{
	max-width: 1200px;
	width:1200px;
	height: 50px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin:0 auto;
}

.navbar1 .subnav_con{width:200px;height:40px;background-color:#39a93e;position:relative;cursor:pointer;}

.navbar1 .subnav_con h1{position:absolute;left:0;top:0;text-align:left;text-indent:40px}
.navbar1 .subnav_con span{display:block;width:16px;height:9px;background:url(/static/images/down.png) no-repeat;position:absolute;right:27px;top:16px;transition:all 300ms ease-in;
}

.navbar1 .subnav_con:hover span{transform:rotateZ(180deg)}

.navbar1 .subnav_con .subnav{position:absolute;left:0;top:40px;display:none;border-top:2px solid  #39a93e;}
.navbar1 .subnav_con:hover .subnav{display:block;}


.navlist{margin-left:34px;}
.navlist li{height:40px;float:left;line-height:40px;}
.navlist li a{color:#666;font-size:14px}
.navlist li a:hover{color:#ff8800}
.navlist .interval{margin:0 15px;}


.center_con{width:1200px;height:270px;margin:0 auto;}
.subnav{width:198px;height:270px;border:1px solid #eee;background:url(/static/images/icons.png) 178px -257px no-repeat #fff;}

.subnav li a{display:block;height:44px;line-height:44px;text-indent:71px;font-size:14px;color:#333}
.subnav li a:hover{color:#ff8800}

.subnav li .fruit{background:url(/static/images/icons.png) 28px 0px no-repeat;}
.subnav li .seafood{background:url(/static/images/icons.png) 28px -43px no-repeat;}
.subnav li .meet{background:url(/static/images/icons.png) 28px -86px no-repeat;}
.subnav li .egg{background:url(/static/images/icons.png) 28px -132px no-repeat;}
.subnav li .vegetables{background:url(../images/icons.png) 28px -174px no-repeat;}
.subnav li .ice{background:url(/static/images/icons.png) 28px -220px no-repeat;}


.slide{width:1200px;height:270px;position:relative;overflow:hidden;margin-top:20px}
.slide .slide_pics{position:relative;left:0;top:0;width:1200px;height:270px;}
.slide .slide_pics li{width:760px;height:270px;position:absolute;left:0;top:0}
.slide .prev,.slide .next{width:17px;height:23px;background:url(/static/images/icons.png) left -388px no-repeat;position:absolute;left:11px;top:122px;cursor:pointer;}
.slide .next{background-position:left -428px;left:1170px;}
.points{width:100%;height:11px;position:absolute;left:0;top:250px;text-align:center;}
.points li{display:inline-block;width:11px;height:11px;margin:0 5px;background-color:#9f9f9f;border-radius:50%;cursor:pointer;}
.points li.active{background-color:#cecece}

.adv{width:240px;height:270px; overflow:hidden; background-color:gold;}
.adv a{display:block;float:left;}


/* 商品列表样式 */

.list_model{width:1200px;height: 450px;margin:15px auto 0;}
.list_title{height:40px;border-bottom:2px solid rgba(0,0,0,.125)}
.list_title h3{height:40px;line-height:40px;font-size:16px;font-weight:bold;}
.list_title .subtitle{height:20px;line-height:20px;margin-top:15px;}
.list_title .subtitle span{color:#666;margin:0 10px 0 20px;}
.list_title .subtitle a{color:#666;margin:0 5px;}
/*.list_title .subtitle a:hover,.goods_more:hover{color:#ff8800}*/
.goods_more{height:22px;margin-top:10px;color:#666}

.goods_con{height:400px;}
.goods_banner{width:200px;height:300px;}
.goods_banner img{width:200px;height:300px;}

.goods_list{width: 1300px;height:400px;padding: 0; margin: 0 auto 10px 10px;display: inline-block;}
.goods_list li{height:400px;width:228px;text-align:center;border:1px solid #ededed;float:left; transition-duration: .4s; background-color: #FFFFFF;margin-right:11px;}

.goods_list li:hover, .goods_type_list li:hover{
	/*transform: scale(1.05);*/
	transform: translatey(-4px);
	box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
/*.goods_list li:hover img{opacity:0.8}*/

.goods_list li h4{height:50px;margin:10px auto 0;text-align:center;font-size:16px ;font-weight: bold;}
/* .goods_list li h4 a{font-size:14px;color:#666;font-weight:normal;line-height:24px;}
.goods_list li h4 a:hover{color:#ff8800} */

.goods_list li h4 span{
	color: rgb(236, 22, 22);
	font-size: 20px;
	text-shadow: 1px 2px 3px #808080; 
}

.goods_list li h4 a, .goods_type_list li h4 a{
	display: inline-block;
	margin: 10px auto;
	color: #0051a2;
	font-weight: normal;
	font-size: 18px;
}

.goods_list li img{display:block;width:180px;height:180px;margin:60px auto 5px auto;}
.goods_list li .prize, .goods_type_list .prize{text-align:center;font-size:20px;color:#c40000;margin:5px 0;}
.shohin_detail{
	width:200px;height:38px;margin:0 auto; background-color:#0D6EFD;border:0px;font-size:14px;color:#fff;font-family:'Microsoft Yahei';outline:1px solid #0D6EFD;
}
	
.shohin_detail:hover{
	color: #fff;
	background-color: #0b5ed7;
	border-color: #0a58ca;
	text-decoration: underline;
}

/* 页面底部样式 */
.footer{
	border-top:2px solid #0B63E1;
	margin:70px 0;
	padding-bottom: 5px;

}

.foot_link{text-align:center;margin:30px 30px;}
.foot_link a,.foot_link span{color:#4e4e4e;}
.foot_link a:hover{color:#ff8800}
.foot_link span{padding:0 10px}
.footer p{text-align:center; margin-top:10px;}


/* 二级页面面包屑导航 */
.pagetitle{
	width:1200px;height:40px;margin:0 auto;
    background-color: #e9ecef;
    border-radius: .25rem;
	font-size: 20px;
	padding: 5px 30px ;
	font-weight: bold;
	color: #4e4e4e;
}



.main_wrap{width:1200px;margin:10px auto;}
.l_wrap{width:200px;}
.r_wrap{width:1200px;}

/* 新品推荐样式 */


.new_goods{
	border:1px solid #ededed;
	border-top:2px solid #37ab40;
	padding-bottom:10px;
}

.new_goods h3{
	height:33px;line-height:33px;background-color:#fcfcfc;border-bottom:1px solid #ededed;font-size:14px;font-weight:normal;text-indent:10px;
}

.new_goods ul{width:160px;margin:0 auto;overflow:hidden;}
.new_goods li{border-bottom:1px solid #ededed;margin-bottom:-1px;}
.new_goods li img{display:block;width:150px;height:150px;margin:10px auto;}
.new_goods li h4{width:160px;margin:0 auto;}
.new_goods li h4 a{font-weight:normal;color:#666;display:block;width:160px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.new_goods li .prize{font-size:14px;color:#da260e;margin:10px auto;}


/*shop_list.html */
/*カテゴリー欄*/
.category{
	margin:10px 6px;
	display: block;
	float: left
}
.category a:first-child{
	font-size: 20px;
	font-weight: bold;
}
.sort_bar_f{
	background-color:#9EC5FE;
	/*box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;*/
	box-shadow: -1px 1px 16px -4px rgba(10,10,10,0.1), 25px 0px 21px 1px rgba(10,10,10,0.02);
}
.sort_bar{height:70px;padding-top: 20px;}
.sort_bar a{display:block;height:30px;line-height:30px;padding:5px 20px;float:left;color:#000;font-weight: bold;font-size: 20px;}
.sort_bar .active{background-color:#0D6EFD;color:#fff;}

.sort_bar .select_box{
	width:470px;height:34px;border:1px solid #0D6EFD;border-radius: .25rem; margin:0;outline:none;font-size:16px;color:#000;
}

.sort_bar .fr_word{
	padding:0 50px;
}

.goods_type_list{
	margin:10px auto 0;
	padding:0;
	
}

.goods_type_list li{
	width:300px;
	float:left;
	margin:10px 0;
	height: 400px;
	text-align: center;
}

.goods_type_list li img{width:200px;height:200px;display:block;margin:10px auto;}
.goods_type_list li h4{width:200px;margin:0 auto;}
.goods_list li h4 a,.goods_type_list li h4 a{font-weight:normal;color:#666;display:block;width:200px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.operate{width:200px;margin:10px auto;position:relative;}
.operate button{width:200px;margin:10px auto;position:relative;display: flex;justify-content: center}
.goods_type_list .operate .prize{color:#da260e; font-size:20px;} 
.goods_type_list .operate .unit{color:#999;padding-left:5px;}
.goods_type_list .operate .add_goods{display:inlne-block;width:15px;height:15px;background:url(/static/images/shop_cart.png);position:absolute;right:0;top:3px;}


/* ページネーションのスタイル */

.pagenation{height:32px;text-align:center;font-size:0;margin:30px auto;}
.pagenation a{display:inline-block;border:1px solid #d2d2d2;background-color:#f8f6f7;font-size:12px;padding:7px 10px;color:#666;margin:5px}

.pagenation .active{background-color:#fff;color:#43a200}


/* 商品详情样式 */
.goods_detail_con{
	width:1198px;
	height:398px;
	border:1px solid #ededed;
	margin:0 auto 20px;
	background-color: white;
	display: flex;
    justify-content: center; /* 水平居中 */
    align-items: start; /* 垂直方向从顶部开始对齐 */
}

.goods_detail_con img{
	height: 250px;
	margin: 10px auto auto 20px;
}


.goods_detail_pic{width:350px;height:350px;margin:24px 0 0 24px;}
.goods_detail_pic img{width: 350px;height: 350px}
.goods_detail_list{
	width:730px;height:350px;margin:24px 24px 0 0;
}
.goods_detail_list h3{font-size:24px;line-height:24px;color:#666;font-weight:normal;}
.goods_detail_list p{color:#666;line-height:40px;}
.prize_bar{height:72px;background-color:#fff5f5;line-height:72px;}
.prize_bar .show_pirze{font-size:20px;color:#ff3e3e;padding-left:20px}
.prize_bar .show_pirze em{font-style:normal;font-size:36px;padding-left:10px}
.prize_bar .show_unit{padding-left:150px}

.goods_num{height:52px;margin-top:19px;}
.goods_num .num_name{width:70px;height:52px;line-height:52px;}
.goods_num .num_add{width:75px;height:50px;border:1px solid #dddddd}
.goods_num .num_add input{width:49px;height:50px;text-align:center;line-height:50px;border:0px;outline:none;font-size:14px;color:#666}
.goods_num .num_add .add,.goods_num .num_add .minus{width:25px;line-height:25px;text-align:center;border-left:1px solid #ddd;border-bottom:1px solid #ddd;color:#666;font-size:14px}
.goods_num .num_add .minus{border-bottom:0px}

.total{height:35px;line-height:35px;margin-top:25px;}
.total em{font-style:normal;color:#ff3e3e;font-size:18px}

.operate_btn{height:40px;margin-top:35px;font-size:0;position:relative;}
.operate_btn .buy_btn{display:inline-block;width:178px;height:38px;border:1px solid #c40000;font-size:14px;color:#c40000;text-align:center;background-color:#ffeded;}


form .add_cart_btn{
	display:inline-block;width:178px;height:38px;font-size:14px;text-align:center;
	background-color:#c40000;color:#fff;margin-left:10px;position:relative;z-index:10;border: #c40000;border-radius: 0.25rem;}
form .add_cart_btn:hover{
	background-color: brown;
	text-decoration: underline;
}

.add_jump{width:20px;height:20px;background-color:#c40000;position:absolute;left:268px;top:10px;border-radius:50%;z-index:9;display:none;}

.detail_tab{
	height:35px;
	border-bottom:1px solid #0B5ED7
}

.detail_tab li{height:34px;line-height:34px;padding:0 30px;font-size:14px;color:#333333;float:left;border:1px solid #e8e8e8;border-bottom:0px;cursor:pointer;background-color:#faf8f8}

.detail_tab li.active{border-top:2px solid #0D6EFD;position:relative;background-color:#fff;border-left:1px solid #0D6EFD;border-right:1px solid #0D6EFD;top:-1px;height:35px;}

.tab_content dt{margin-top:10px;font-size:16px;color:#044d39}
.tab_content dd{line-height:24px;margin-top:5px;}


/* 登录页 */

.login_top{width:960px;height:130px;margin:0 auto;}
.login_logo{display:block;width:193px;height:76px;margin-top:30px;}
.login_form_bg{height:480px;background-color:#0D6EFD}
.no-mp{margin-top:0px;}
.login_form_wrap{width:960px;height:480px;margin:0 auto;}
.login_banner{width:381px;height:322px;background:url(/static/images/login_banner.png) no-repeat;margin-top:90px;}
.slogan{width:40px;height:300px;font-size:30px;color:#f0f9e8;text-align:center;line-height:36px;margin:80px 0 0 120px}
.login_form{width:368px;height:378px;border:1px solid #c6c6c5;background-color:#fff; margin-top:50px;}

.login_title{height:60px;width:308px;margin:10px auto;border-bottom:1px solid #e0e0e0;}

.login_title h1{font-size:24px;height:60px;line-height:60px;color:#a8a8a8;float:left;font-weight:bold;margin-left:44px;}
.login_title a{width:100px;height:20px;display:block;font-size:16px;color:#0D6EFD;text-indent:26px;background:url(/static/images/icons02.png) left 5px no-repeat;float:left;margin:20px 0 0 36px}

.mypg_title{height:60px;width:250px;border-bottom:1px solid #e0e0e0;margin-left: 210px;}
.mypg_title h1{font-size:24px;height:60px;line-height:60px;color:#a8a8a8;float:left;font-weight:bold;margin-left: 40px;}

.form_input{width:308px;height:250px;margin:20px auto;position:relative;}
.name_input,.pass_input{width:306px;height:36px;border:1px solid #e0e0e0;background:url(/static/images/icons02.png) 280px -41px no-repeat #f8f8f8;outline:none;font-size:14px;text-indent:10px;position: absolute;left:0;top:0}
.pass_input{top:65px;background-position:280px -95px;}

.user_error,.pwd_error{color:#f00;position:absolute;left:0;top:43px;}

.pwd_error{top:110px;}

.more_input{position:absolute;left:0;top:130px;width:100%}

.more_input input{float:left;margin-top:2px;}
.more_input label{float:left;margin-left:10px;}
.more_input a{float:right;color:#666}
.more_input a:hover{color:#ff8800}

.input_submit{width:100%;height:40px;position:absolute;left:0;top:180px;font-size:22px;border:0px;cursor:pointer;}

.reg_bar{
	background-color: transparent;
	border: none;
	font-weight: bold;
	color: #0070df;
}

.reg_bar:hover{text-decoration: underline;}

/* 登録ページ */
.register_con{
	width:700px;
	height:650px;
	margin:50px auto 0;
	background:url(/static/images/interval_line.png) 300px top no-repeat;
}

.l_con{width:300px;}
.reg_logo{width:200px;height:76px;float:right;margin-right:30px;}
.reg_slogan{width:300px;height:30px;float:right;text-align:right;font-size:24px;color:#69a81e;margin:20px 30px 0 0;font-weight:bold;}
.reg_banner{width:251px;height:329px;background:url(/static/images/register_banner.png) no-repeat;float:right; margin:20px 10px 0 0;opacity:0.5}


.r_con{width:400px;height:600px}
.reg_title{width:360px;height:50px;float:left;margin-left:30px;border-bottom:1px solid #e0e0e0}
.reg_title h1{height:50px;line-height:50px;float:left;font-size:24px;color:#a8a8a8;font-weight:bold;}
.reg_title a{float:right;height:20px;line-height:20px;font-size:16px;color:#0D6EFD;padding-right:20px;background:url(/static/images/icons02.png) 50px 3px no-repeat;margin-top:15px}

.reg_form{width:385px;margin:5px 0 200px 15px;float:left;position: relative;}
.reg_form li label{width:500px;line-height:30px;float:left;font-size:14px;color:#a8a8a8}
.reg_form li input{width:300px;height:30px;margin-bottom: 5px;border:1px solid #e0e0e0;float:left;outline:none;background-color:#f8f8f8}
/*.reg_form li input{display: block;width: 100%;outline:none;padding: 0.375rem 0.75rem;font-size: 1rem;font-weight: 400;line-height: 1.5;float:left;color: #212529;background-color: #fff;background-clip: padding-box;border: 1px solid #ced4da;-webkit-appearance: none;-moz-appearance: none;appearance: none;border-radius: 0.25rem;transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;}*/
.reg_form .reg_btn{width:200px;height:38px;background-color:#69a81e;border:0px;font-size:16px;color:#f1eded;font-family:'Microsoft Yahei';outline:1px solid #69a81e;border-radius: 0.25rem;margin: 20px 0 0 40px;text-shadow: 1px 2px 3px #808080;font-weight: bold;}
.reg_form .reg_btn:hover{text-decoration: underline 3px;background-color: #66975c;}
.agreement{width: 350px;float: left}
.reg_form li.agreement input{width:15px;height:15px;float: left; margin-top:13px;}
.reg_form li.agreement label{width:250px;float: left; margin-left:10px}
.reg_form li.reg_sub input{width:360px;height:40px;background-color:#47aa34;font-size:18px;color:#fff;
	font-family: 'Microsoft Yahei', serif;cursor:pointer;}
/*.reg_form li .error_tip{float:left;height:30px;line-height:30px;margin-left:70px;color:#e62e2e;display:none;}*/
.reg_form li .error_tip2{float:left;line-height:20px;width: 350px;color: red}

.reg_success{margin-bottom: 100px;color: #3f3939;width:1200px;margin:0 auto;}
.reg_success h1{font-size: 25px;font-weight: bold;margin: 10px auto 20px 20px;} 
.reg_success ul{font-size: 18px;margin: 5px auto auto 20px ;padding:10px;background-color: #fff;font-weight: 500;} 
.reg_success li{margin-bottom: 10px;} 

.change_con{
	width:700px;
	height:650px;
	margin:50px auto 0;
}
.c_con{width:400px;height:600px}
.c_title{width:360px;height:50px;float:left;margin-left:30px;border-bottom:1px solid #e0e0e0}
.c_title h1{height:50px;line-height:50px;float:left;font-size:24px;color:#a8a8a8;font-weight:bold;}
.c_form{width:385px;margin:5px 0 200px 15px;float:left;position: relative;}
.c_form li label{width:500px;line-height:30px;float:left;font-size:14px;color:#a8a8a8}
.c_form li input{width:300px;height:30px;margin-bottom: 5px;border:1px solid #e0e0e0;float:left;outline:none;background-color:#f8f8f8}
.agreement{width: 350px;float: left}
.c_form li.agreement input{width:15px;height:15px;float: left; margin-top:13px;}
.c_form li.agreement label{width:250px;float: left; margin-left:10px}
.c_form li.reg_sub input{width:360px;height:40px;background-color:#47aa34;font-size:18px;color:#fff;
	font-family: 'Microsoft Yahei', serif;cursor:pointer;}
.c_form li .error_tip2{float:left;line-height:20px;width: 350px;color: red}
.c_form .reg_btn{width:200px;height:38px;background-color:#69a81e;border:0px;font-size:16px;color:#f1eded;font-family:'Microsoft Yahei';outline:1px solid #69a81e;border-radius: 0.25rem;margin: 20px 0 0 40px;text-shadow: 1px 2px 3px #808080;font-weight: bold;}
.c_form .reg_btn:hover{text-decoration: underline 3px;background-color: #66975c;}
.move_btn{width:300px;height:38px;background-color:#fff;border:0px;font-size:16px;font-family:'Microsoft Yahei';outline:1px solid #69a81e;border-radius: 0.25rem;margin: 20px 0 0 40px;text-shadow: 1px 2px 3px #808080;font-weight: bold;text-align: center;justify-content: center;margin: 0 auto 0;}
.move_sub{
	background-color: transparent;
	border: none;
	line-height: 38px;
	font-weight: bold;
	font-size:20px;}
.move_sub:hover{text-decoration: underline;}
.sub_page_name{font-size:18px;color:#666;margin:0 0 0 20px}

.total_count{
	width:1200px;margin:0 auto;height:40px;line-height:40px;font-size:14px;
}
.total_count em{
	font-size:16px;color:#ff4200;margin:0 5px;
}

.cart_list_th{width:1198px;border:1px solid #ddd;background-color:#f7f7f7;margin:0 auto;}
.cart_list_th li{height:40px;line-height:40px;float:left;text-align:center;}
.cart_list_th .col01{width:42%;}
/*.cart_list_th .col02{width:16%;}*/
.cart_list_th .col03{width:15%;}
.cart_list_th .col04{width:12%;}
.cart_list_th .col05{width:15%;}
/*.cart_list_th .col06{width:18%;}*/

.cart_list_td{width:1198px;border:1px solid #ddd;background-color:#edfff9;margin:0 auto;margin-top:-1px;}
.cart_list_td li{height:120px;line-height:120px;float:left;text-align:center;}

/*.cart_list_td .col01{width:5%;}*/
.cart_list_td .col02{width:18%;}
.cart_list_td .col03{width:25%;}
.cart_list_td .col04{width:15%;}
.cart_list_td .col05{width:13%;}
.cart_list_td .col06{width:12%;}
.cart_list_td .col07{width:15%;}
/*.cart_list_td .col08{width:18%;}*/

.cart_list_td .col02 img{width:100px;height:100px;border:1px solid #ddd;display:block;margin:10px auto 0;}
.cart_list_td .col03{height:48px;text-align:left;line-height:24px;margin-top:38px;}
.cart_list_td .col03 em{color:#999}
.cart_list_td .col08 {display: flex;align-items: center;justify-content: center;height: 120px;}

.cart_list_td .col06 .num_add{width:98px;height:28px;border:1px solid #ddd;margin:40px auto 0;}
.cart_list_td .col06 .num_add a{width:29px;height:28px;line-height:28px;background-color:#f3f3f3;font-size:14px;color:#666}
.cart_list_td .col06 .num_add input{width:38px;height:28px;text-align:center;line-height:30px;border:0px;display:block;float:left;outline:none;border-left:1px solid #ddd;border-right:1px solid #ddd;}


.settlements{width:1198px;height:78px;border:1px solid #ddd;background-color:#fff4e8;margin:-1px auto 0;}
.settlements li{line-height:78px;float:left;}
/*.settlements .col01{width:4%;text-align:center}*/
/*.settlements .col02{width:24%;}*/
.settlements .col03{width:80%; height:48px; line-height:28px;text-align:right;margin-top:10px;}
.settlements .col03 span{color:#ff0000;padding-right:5px}
.settlements .col03 em{color:#ff3d3d;font-size:22px;font-weight:bold;}
.settlements .col03 span{color:#ff0000;}
.settlements .col03 b{color:#ff0000;font-size:14px;padding:0 5px;}

.settlements .col04{width:14%;text-align:center;float:right;}
.settlements .col04 a{display:block;height:78px;background-color:#ff3d3d;text-align:center;line-height:78px;color:#fff;font-size:24px}


.common_title{width:1200px;margin:20px auto 0;font-size:14px;}

.common_list_con{width:1200px;border:1px solid #dddddd;border-top:2px solid #0D6EFD;margin:10px auto 0;background-color:#f7f7f7;position:relative;}

.common_list_con dl{margin:20px;}
.common_list_con dt{font-size:14px;font-weight:bold;margin-bottom:10px}
.common_list_con dd input{margin-right:10px}

.edit_site{position:absolute; right:20px;top:30px;width:140px;height:38px;background-color:#37ab40;text-align:center;line-height:30px;color:#fff}

.pay_style_con{margin:20px;}
.pay_style_con input{float:left;margin:14px 7px 0 0;}
.pay_style_con label{float:left;border:1px solid #ccc;background-color:#fff;padding:10px 10px 10px 40px;margin-right:25px}

/*.pay_style_con .cash{background:url(http://www.w3.org/2000/svg); width:16px; height:16px; fill:currentColor ;class:"bi bi-cash-stack"; viewBox:"0 0 16 16"}*/
/*.pay_style_con .weixin{background:url(/static/images/pay_icons.png) 6px -36px no-repeat #fff;}*/

/*.pay_style_con .zhifubao{background:url(/static/images/pay_icons.png) 12px -72px no-repeat #fff;width:50px;height:16px}*/

/*.pay_style_con .bank{background:url(/static/images/pay_icons.png) 6px -108px no-repeat #fff;}*/


.goods_list_th{height:40px;border-bottom:1px solid #ccc}
.goods_list_th li{float:left;line-height:40px;text-align:center;}
.goods_list_th .col01{width:25%}
.goods_list_th .col02{width:20%}
.goods_list_th .col03{width:25%}
.goods_list_th .col04{width:15%}
.goods_list_th .col05{width:15%}

.goods_list_td{height:80px;border-bottom:1px solid #eeeded}
.goods_list_td li{float:left;line-height:80px;text-align:center;}
.goods_list_td .col01{width:4%}
.goods_list_td .col02{width:6%}
.goods_list_td .col03{width:15%}
.goods_list_td .col04{width:20%}
.goods_list_td .col05{width:25%}
.goods_list_td .col06{width:15%}
.goods_list_td .col07{width:15%}

.goods_list_td .col02{text-align:right}
.goods_list_td .col02 img{width:63px;height:63px;border:1px solid #ddd;display:block;margin:7px 0;float:right;}
.goods_list_td .col03{text-align:left;text-indent:20px}


.settle_con{margin:10px}
.total_goods_count,.transit,.total_pay{line-height:24px;text-align:right}
.total_goods_count em,.total_goods_count b,.transit b,.total_pay b{font-size:14px;color:#ff4200;padding:0 5px;z-index: 10}

.order_submit{width:1200px;margin:20px auto;}
.order_submit a{width:160px;height:40px;line-height:40px;text-align:center;background-color:#47aa34;color:#fff;font-size:16px;display:block;float:right}


.order_list_th{width:1198px;border:1px solid #ddd;background-color:#F8F9FA;margin:20px auto 0;}
.order_list_th li{float:left;height:30px;line-height:30px}
.order_list_th .col01{width:20%;margin-left:20px}
.order_list_th .col02{width:20%}


.order_list_table{
	width:1200px;
	border-collapse:collapse;
	border-spacing:0px;
	border:1px solid #ddd;
	margin:-1px auto 0;
}

.order_list_table td{
	border:1px solid #ddd;
	text-align:center;
}

.order_goods_list{border-bottom:1px solid #ddd;margin-bottom:-2px;}
.order_goods_list li{float:left; height:80px;line-height:80px;}
.order_goods_list .col01{width:20%}
.order_goods_list .col01 img{width:60px;height:60px;border:1px solid #ddd;margin:10px auto;}
.order_goods_list .col02{width:50%;text-align:left;}
.order_goods_list .col02 em{color:#999;margin-left:10px}
.order_goods_list .col03{width:10%}
.order_goods_list .col04{width:20%}

.oper_btn{display:inline-block;border:1px solid #ddd;color:#666;padding:5px 10px}

.popup_con{display:none;}
.popup{width:300px;height:150px;border:1px solid #dddddd;border-top:2px solid #00bc6f;background-color:#f7f7f7;position:fixed;
	left:50%;
	margin-left:-150px;
	top:50%;
	margin-top:-75px;
	z-index:1000;
}

.popup p{height:150px;line-height:150px;text-align:center;font-size:18px;}

.mask{width:100%;height:100%;position:fixed;left:0;top:0;background-color:#000;opacity:0.3;z-index:999;}


.main_con{
	width:1200px;
	margin:0 auto;
	/*background:url(/static/images/left_bg.jpg) repeat-y;*/
}

.left_menu_con{
	width:200px;
	float:left;
}

.left_menu_con h3{
	font-size:16px;
	line-height:40px;
	border-bottom:1px solid #ddd;
	text-align:center;
	margin-bottom:10px;
}

.left_menu_con ul li{
	line-height:40px;
	text-align:center;
	font-size:14px;
}

.left_menu_con ul li a{
	color:#666;
}

.left_menu_con ul li .active{
	color:#ff8800;
	font-weight:bold;
}

.right_content{
	width:980px;
	margin: auto;
	margin-left: 185px;
	min-height:500px;
	text-align: center;
}

.w980{
	width:980px;
}

.w800{
	width:800px;
}

.w978{
	width:978px;
} 


.common_title2{height:20px;line-height:20px;font-size:20px;margin:10px 0 10px auto;text-align: center;color: #66975c;font-weight: bold;text-decoration: underline;}
.user_info_list{
	background-color:#F8F9FA;
	margin:10px 0 15px;
	padding:10px 0;
	height:90px;
}

.user_info_list li{
	line-height:30px;
	text-indent:30px;
	font-size:14px;
}

.user_info_list li span{
	width:100px;
	float:left;
	text-align:right;
}

.info_con{
	width:980px;
}

.info_l{
	width:600px;
	float:left;
}

.info_r{
	width:360px;
	float:right;
}

.site_con{
	background-color:#F8F9FA;
	padding:10px 0;
	margin:0 auto 20px auto;
	text-align: center;
	width: 600px;

}
.addr_change{
	text-align: center;
	margin-left: 80px;
}

.cart_addr{
    background-color:#F8F9FA;
	width:1200px;height:120px;margin:0 auto;
    border-radius: .25rem;
	padding: 5px 30px ;
	text-align: left;
}


.site_con dt{
	font-size:14px;
	line-height:30px;
	text-indent:30px;
	font-weight:bold;
}

.site_con dd{
	font-size:14px;
	line-height:30px;
	text-indent:30px;
}

.site_con .form_group{
	height:40px;
	line-height:40px;
	margin-top:10px;
}

.site_con .form_group label{
	width:100px;
	float:left;
	text-align:right;
	font-size:14px;
	height:40px;
	line-height:40px;
}

.site_con .form_group input{
	width:300px;
	height:25px;
	border:1px solid #ddd;
	float:left;
	outline:none;
	margin-top:7px;
	/*text-indent:10px;*/
}	

.site_con .form_group2{
	height:90px;
}



.site_area{
	width:280px;
	height:60px;
	border:1px solid #ddd;
	outline:none;
	padding:10px;
}
.info_submit{
	width:80px;
	height:30px;
	background-color:#37ab40;
	border:0px;
	color:#fff;
	margin:10px 0 10px 100px;
	cursor:pointer;
	font-family:'Microsoft Yahei'
}

.stress{
	color:#ff8800;
}
/*导航粘性定位*/
#naiver.fixed{
  /*position: -webkit-sticky;*/
  	position: fixed;
    padding: 5px 0 0 0;
    top: 143px;
	/*height: 143px;*/
}
/*文字アンダーライン削除*/
.decoration{
	text-decoration:none
}

/*ulのli元素水平真ん中に集まる*/
.center_ul{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.center_ul a{
	/*display: block;*/
	line-height: 34px;
}

.nar_size:hover{
	color: black;
	background-color: #DFDEDE;
}

.nar_size:hover .dropdown_lists {
    display: block;/*Gナビメニューにホバーしたら表示*/
}

.dropdown_lists {
	display: none; /*デフォルトでは非表示の状態にしておく*/
	width: 117%;
	position: absolute;
	right: 0;
	z-index: 1;
	animation: growDown 500ms ease-in-out forwards;
	transform-origin: top center;

}
@keyframes growDown {
	0% {
		opacity: 0;
		transform: rotateX(-90deg);
	}
	50% {
    	transform: rotateX(-20deg);
	}
	100% {
    	opacity: 1;
    	transform: rotateX(0deg);
	}
}

.dropdown_lists li {
    background-color: #DFDEDE;
	padding: 10px 30px;
	text-align: center;
	line-height: 30px;
}

.dropdown_lists li:hover {
    background-color: #A6A6A6;
}

.dropdown_lists li a:after{
    content: '';
    display: inline-flex;
    width: 6px;
    height: 6px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(135deg);
    position: relative;
	left: 13px;
	bottom: 4px;

}

.navbar_shadow{
	box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.btn-contact a {
	color: #666;
	font-size: 20px;
	font-weight: bold;
	position: relative;
	display: inline-block;
	transition: 0.3s;
	padding: 2px;
}
.btn-contact a::after {
	position: absolute;
	bottom: 0;
	left: 50%;
	content: "";
	width: 0;
	height: 3px;
	background-color: #FFDF00;
	transition: 0.3s;
	transform: translateX(-50%);
}
.btn-contact a:hover::after {
	width: 100%;
}

.text_anime{
	display: inline-block;
	/*transition: .5s;*/
	/*-webkit-transform: scale(1);*/
	/*transform: scale(1);*/
	padding:11px 16px;
	margin: 2px 0;
	color: #6C757D;
  	/*border-radius: 0.5rem !important;*/
}

.text_anime:hover {
	/*-webkit-transform: scale(1.1);*/
	/*transform: scale(1.1);*/
	color: #000000;
	background-color: #DFDEDE;
}

.img_anime {
	transition-duration: .4s;
}

.imag_anime :hover{
	transform: scale(1.1);
}

/*問い合わせ画面の見出しCSS*/
.contact_h{
	width: auto;
	height: 40px;
	background: linear-gradient(45deg, #0051a2 0%, #0051a2 10%, #0058ae 10%, #0058ae 20%, #005db9 20%, #005db9 30%, #0061c1 30%, #0061c1 40%, #0268cc 40%, #0268cc 50%, #0070df 50%, #0070df 60%, #027bf2 60%, #027bf2 70%, #148bff 70%, #148bff 80%, #2994ff 80%, #2994ff 90%, #409ffd 90%, #409ffd 100%);
	color: #fcfcfc;
	font-size: 20px;
	padding: 8px 20px 12px 20px
}

/*問い合わせ画面の見出しCSS*/
.contact_h4{
	padding: 20px 20px;
	font-size: medium;
	letter-spacing: 1px;
}

/*問い合わせ画面の電話でお問い合わせの見出しCSS*/
.contact_phone{
	width: auto;
	height: 48px;
	background-color:white;
	color: black;
	font-size: 20px;
	padding: 10px 10px;
	box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

/*問い合わせ画面の電話でお問い合わせのiconのCSS*/
.phone_con{
	background-color: #0D6EFD;
	border: 5px solid #0D6EFD;
	width:30px;
	/*height:30px*/
}

/*問い合わせ画面の電話でお問い合わせ電話番号iconのCSS*/
.phn_con{
	padding: 10px;

}

/*問い合わせ画面の電話でお問い合わせ電話番号のCSS*/
.phone_number{
	font-size: 40px;
	font-weight: bolder;
}

/*問い合わせ画面のメールでの問い合わせform*/
.mb40 {
    margin-bottom: 40px;
}
.mt20 {
    margin-top: 20px;
}

table.contact-box, table.plan-box {
    border-collapse: separate;
    border-spacing: 0;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    width: 96%;
    margin: auto;
}

table.contact-box th, table.plan-box th {
    width: 30%;
    padding: 0.5em;
    font-weight: bold;
    vertical-align: middle;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #eee;
    text-align: right;
}

form * {
    outline: none;
}

i.any {
    background: #999;
    width: 3.5em;
    color: #fff;
    padding-top: 2px;
    margin-left: 4px;
    display: inline-block;
    text-align: center;
    font-size: 0.9em;
    line-height: 1.3;
    font-weight: normal;
    border-radius: 2px;
    font-style: normal;
}

table.contact-box td, table.plan-box td {
    padding: 0.5em;
    vertical-align: middle;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-weight: normal;
}

i.must {
    background: #ffd954;
    color: #333;
    width: 3.5em;
    padding-top: 2px;
    margin-left: 4px;
    display: inline-block;
    text-align: center;
    font-size: 0.9em;
    line-height: 1.3;
    font-weight: normal;
    border-radius: 2px;
    font-style: normal;
}


input[type=text].width80, input[type=tel].width80, input[type=email].width80, textarea.width80 {
    width: 80%;
	height: 30px;
}
/*input:invalid {*/
/*    border: 1px solid #FD8383 !important;*/
/*}*/

input[type=text].width80, input[type=tel].width80, input[type=email].width80, textarea.width80 {
    width: 80%;
}

.ytf_right{
	margin: 5px 0;
	display: flex;
	/*padding-left: 154px;*/
	/*flex-direction: row-reverse;*/
	/*justify-content: center;*/

}
/*ナビゲーションの項目のサイズ指定*/
.nar_size{
	height: 50px;
	padding:0 8px;
}
.nar_item{
	width: 169px;
	text-align: center;
}

.cart_anime{
	display: inline-block;
	transition: .3s;
	-webkit-transform: scale(1);
	transform: scale(1);
	padding:11px 16px;
	color: #6C757D;

}

.cart_anime:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	color: #000000;
}

.shop_list{
	border-radius: 6px !important;
    border: 1px solid #EDEDED;
	margin: 2px;
	background-color: white;
}

.shop_anime{
	transition-duration: .4s
}

.shop_anime:hover{
	transform: scale(1.05);
	box-shadow: rgba(9, 30, 66, 0.25) 0 4px 8px -2px, rgba(9, 30, 66, 0.08) 0 0 0 1px;
}
.shop_anime:hover img{opacity:0.8}

.ud_line {
  	background: linear-gradient(black,black)
     	 bottom /var(--d, 0) 2px
      	no-repeat;
	transition:0.5s;
	padding-bottom: 1px;

}
.ud_line:hover {
  	--d: 100%;
	color: black;
}

/*元素aの文字真ん中に*/
.nav_logo{
	/*display: block;*/
	/*text-align: center;*/
	line-height: 50px;
	/*!*font-size: larger;*!*/
	font-size:20px;
	/*font-weigh: bolder;*/
	/*color: blactk;*/
	margin:0 10px 0 15px;
}

form .nav_logo{
	margin-left: 15px;
}



form .nav_logo_sub{
	background-color: transparent;
	border: none;
	font-weight: bold;
	line-height: 50px;
	font-size:20px;
	margin:0 10px 0 0px;
	padding-top: 0;
	text-align:start;

}

form .nav_logo_sub:hover{
	color: black;
	text-decoration: underline;
}


.log_i{
	width: 30px;
	height: 30px;
	margin-bottom: 8px;
}
.nav_logo img{
	margin-bottom: 5px;
}

/*UserOrder.html*/
.img_round{
	border-radius: .25rem !important;
	width: 190px;
	height: 130px;
	margin-right: 280px;
}

.start_box div{
	position: relative;
	display: block;
}
.spacing_bace{
	margin-bottom: 12px!important;
}

.box{
	font-size: 14px;
	float: left;
    border: 1px #D5D9D9 solid;
	background-color: #cee9f1!important;
	border-radius: 8px 8px 0 0;
}

.box_img{
	float: left; 	width: 100px;
	height: 100px;
	border-radius: 8px 8px 8px 8px;
	margin-right: 20px;
}
.box_down{
	float: left;
    border: 1px #D5D9D9 solid;
	border-radius:0 0 8px 8px;
	margin-bottom: 20px;
}

.box_inner{
	float: left;
	padding: 14px 18px;
	/*border-radius: 8px 8px 0 0;*/
}
.left-grid{
	float: left;
	padding-right: 30px;
}

.left-grid-inner{
	float: left;
	padding-right: 25px;
	width: 120px;
}

.left-grid-inner:after{
	content: “1”;
	/*visibility: hidden;*/
	display: block;
	clear: both;
}
	/*商品名*/
.od_goods_name{
	float: right;
	margin-right: 155px auto;
	font-size: large;
	width: 230px;
	-webkit-text-stroke: 1px #5b8ab1;
}

.order_bt{
	background-color: white;
	width: 200px;
    border: 1px #D5D9D9 solid;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
	border-radius: 8px !important;
}
.order_bt:hover{
	background-color: #F0F2F2;
}

.headline {
    padding: 8px 36px 8px 46px;
    border-radius: 6px;
    position: relative;
    background: white;
    letter-spacing: 0;
	/*box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;*/
	box-shadow: 0px 1px 1px rgba(9, 30, 66, 0.25), 0px 0px 1px 1px rgba(9, 30, 66, 0.13);
}
.headline:before{
    position: absolute;
    top: 25%;
    left: 20px;
    width: 6px;
    height: 50%;
    content: '';
    /*opacity: .2;*/
    border-radius: 3px;
    background: #0D6EFD
}

.carousel-inner {
        max-width: 500px; /* 或者您希望的任何尺寸 */
		margin-left: auto;
		margin-right: auto;
		display: block; /* 确保元素为块级，以便正确应用边距 */
}
.carousel.slide{
    max-width: 400px; /* 或根据您的布局需要调整 */
    max-height: auto; /* 让高度自动调整以保持图片的纵横比 */
    margin-right: auto;
    margin-left: auto;
    display: block; /* 确保元素为块级 */
}
@media (max-width: 768px) {
    .goods_detail_con {
        flex-direction: column;
    }

    .carousel.slide {
        max-width: 100%;
        margin-bottom: 20px;
    }
}

.external_link {
    margin-left: 10px
}

.related-products {
    padding: 20px;
    background-color: #f5f5f5;
}

.related-products h2 {
    text-align: center;
    margin-bottom: 20px;
	font-size: 1rem;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-item {
    width: 200px;
    margin: 10px;
    text-align: center;
}

.product-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-item p {
    margin-top: 10px;
}

.pay {
	max-width: 1200px;
	margin: 30px auto;
	width:1200px;
	text-align: center;
	background-color: #EDEDED;
	color: brown;
	font-weight: bold;
}

.pay p{
	margin-top: 20px;
	font-size: 20px;
}